.navbar-container {
  margin: 0px 2px 0px 0px;
  width: 280px;
  height: 900px;
  background-color:#202324;
}
.navbar-container h3 {
  margin: 36px 0px 56px 0px;
  color: #f79009;
  margin-left: 36px;
  font-size: 20px;
}
.navbar-container .last-option {
  margin-top: 56px;
}
a {
  text-decoration: none;
}

