.navbar-container {
  margin: -6px 0px 0px -6px;
  width: 280px;
  height: 900px;
  background-color:rgb(240, 241, 243);
}
.navbar-container h3 {
  margin: 36px 0px 56px 0px;
  color: #f79009;
  margin-left: 36px;
  font-size: 20px;
}
.navbar-container .last-option {
  margin-top: 56px;
}
