@import url(https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap);
.cabecera{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
  border-right: 50px;
  padding-left: 80px;
}
.container{
  font-size: 16px;
  margin-left: 0%;
  margin-top: 10%;
  transform: translateX(30%);
}
.cell-t{
  color: #667085;
  font-family: 'Inter', sans-serif;
  padding-left: 80px;
}
.titulo{
  color: #383E49;
  padding-left: 15px;
  margin-bottom: 30px;
}
.boton{
    margin-left: 80%;
    margin-top: 5%;
}

.boton-2{
    padding: 35px;
    margin-right: 10px;
}
.boton-3{
    padding-left: 100%;
    margin-left: 200px;
    margin-top: -67px;
 
}
.boton-t{
  background-color: orange;
  width: 0; 
  height: 0; 
  border-left: 2.5px solid #f0ad4e;
  border-top: 1.25px solid transparent;
  border-bottom: 1.25px solid transparent;
  margin-left: 10%;
  margin-top: 10%;
}
.tabla-container{
  width: 100%; 
  height: 100%; 

}
.desplegar{
  width: 0;
  height: 0;    
  border-top: 0.5px solid transparent;
  border-bottom: 0.5px solid transparent;
  border-right: 1x solid #f0ad4e;
  background-color: #f0ad4e;
  border-radius: 50%;
  margin-left: 20px;
}
.boton-filter{
  margin-left: 67%;
  margin-top: -30px;
}
