.card-prov-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 1440px;
  height: 900px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.container-info {
  width: 471px;
  height: 756px;
  background: #fffaf2;
  border: 1px solid #000000;
  border-radius: 8px;
}

.top-container {
  display: flex;
  flex-direction: column;
  color: #000000;
  margin-top: 27px;
  margin-left: 29px;
  margin-right: 118px;
  margin-bottom: 26px;
  align-items: center;
  width: 324px;
  height: 12px;
}

.top-container h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #383e49;
}

.img-prov{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 87px;
}

.img-prov img {
  width: 81px;
  height: 81px;
}
