:root {
    --font_inter: "Inter", sans-serif;
    --font_roboto: "Roboto", sans-serif;
  }
  
  .view {
    display: flex;
    position: absolute;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 0px;
  }
  
  .container {
    display: inline-block;
    width: 50%;
  }
  
  .login-text {
    position: absolute;
    width: 421px;
    height: 149px;
    left: 187px;
    top: 150px;
  }
  
  .login-text h1 {
    display: flexbox;
    font-family: var(--font_inter);
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    align-items: center;
    text-align: center;
  }
  
  .user-name {
    position: absolute;
    width: 484px;
    height: 83px;
    left: 156px;
    top: 406px;
    font-size: 25px;
    border-radius: 100px;
    background-color: #d9d9d9;
  }
  
  .pass-word {
    position: absolute;
    width: 483px;
    height: 76px;
    left: 156px;
    top: 561px;
    font-size: 25px;
    border-radius: 100px;
    background-color: #d9d9d9;
  }
  
  .button-login button {
    position: absolute;
    width: 465px;
    height: 79px;
    left: 156.5px;
    top: 713px;
    background: #f9a63a;
    border-radius: 100px;
    font-family: var(--font_roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    /* identical to box height */
  
    text-align: center;
  
    color: #000000;
  }
  
  .draw-container {
    display: flexbox;
    width: 50%;
  }
  .i1 {
    position: absolute;
    left: 62.12%;
    right: 18.39%;
    top: 13.9%;
    bottom: 61.37%;
    width: 330px;
    height: 300px;
  
    opacity: 0.4;
    transform: matrix(0.9, -0.43, 0.36, 0.93, 0, 0);
  }
  
  .i2 {
    position: absolute;
    left: 52.81%;
    right: 29.4%;
    top: 58.02%;
    bottom: 19.52%;
    width: 230px;
    height: 230px;
  
    opacity: 0.4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: matrix(0.89, -0.46, 0.38, 0.92, 0, 0);
  }
  
  .i3 {
    position: absolute;
    left: 85%;
    right: 7.34%;
    top: 47.57%;
    bottom: 29.9%;
    width: 250px;
    height: 250px;
  
    opacity: 0.4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: matrix(0.88, -0.47, 0.4, 0.92, 0, 0);
  }
  
  .i4 {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 75%;
    right: 9.87%;
    top: 80%;
    bottom: 5.42%;
    opacity: 0.4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: matrix(0.91, -0.41, 0.34, 0.94, 0, 0);
  }
  
  .draw {
    padding-left: 150px;
    width: 648px;
    height: 1024px;
    left: 812.42px;
    top: 5.61px;
  }