.searchbar-container {
  margin: 30px 0px 0px 31px;
  display: flex;
  width: 402px;
  height: 44px;
  background-color: #272727;
}
.searchbar-container .icon {
  color: #f79009;
  width: 24px;
  height: 24px;
  margin: 12px 10px 0px 5px;
}
.searchbar-container input {
  border: none;
  width: 402px;
  background-color: #272727;
}
