:root {
  margin: 0px 0px 0px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #272727;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
  padding: 0;
  margin: 0;
  
}
.app-container {
  display: flex; 
  flex-direction: row;
  width: 1440px;
  height: 900px;
}
.app-content {
  display: flex; 
  flex-direction: column;
  width: 1160px;
}
